body{
    font-family: $secondary-font-family;
}

a{
    font-family: $secondary-font-family;
    color: $text-color;
}

nav a{
    font-weight: 300;
}

h1{
    font-size: $lg-font-size;
    font-family: $primary-font-family;
    line-height: 100%;
    letter-spacing: -0.96px;
}

footer p{
    font-weight: 200;
    font-size: $font-size;
    font-family: $secondary-font-family;
}