body{
    background: linear-gradient(90deg, rgba(0,0,0,0) 50%, black 100%), $bg-color;
}

.hero{

    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-inline: $default-padding-inline;

    .hero-content{
        background: $primary-color;
        padding: 80px 56px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        gap: 40px;

        width: 700px;

        h1{
            font-weight: 200;
            letter-spacing: -2px;
    
            span{
                font-weight: 500;
            }
        }
        .cta{
            display: flex;
            gap: 2em;
        }
    }

    .hero-img{
        width: 35%;
        height: 100vh;
        position: absolute;
        left: 23%;
        top: 0;
        z-index: -1;
        background: url(../images/background.jpeg); 
        background-size: cover;
    }
}