.home-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 32px;
    max-height: 100vh;
    overflow: hidden;

    .logo {
        margin-top: 10%;

        h1 {
            text-align: center;
            margin-bottom: 32px;
            vertical-align: center;

            .star {
                width: 12px;
                height: 12px;
                background: url('/images/star.svg');
                background-position: center center;
                background-size: contain;
                display: inline-block;
                margin-inline: 12px;
                transform: translateY(-50%);
            }
        }
    }

    .content {
        width: 80%;
        height: 100%;
        margin-top: auto;
        margin-bottom: 10vh;
        display: flex;
        justify-content: space-between;

        p {
            font-size: $font-size * 1.33;
            flex-grow: 0;
            padding-right: 10%;
            width: 40%;
        }

        .cta-wrapper {
            width: 60%;
            display: flex;
            gap: 64px;
            align-items: center;
            justify-content: space-around;
            flex-grow: 1;
        }
    }
}