@import "./variables";
@import "./animations";
@import './home';
@import './menu';
@import './reservations';
@import './contact';

*,
*::before,
*::after {
    box-sizing: border-box;
    border: none;
    margin: 0;
    padding: 0;
}

html {
    font-size: $font-size;
}

menu:not(article menu),
ol:not(article ol),
ul:not(article ul) {
    list-style: none;
}

menu,
ol,
ul {
    padding-left: 0;
}

article ol,
article ul {
    list-style-position: inside;
}

body {
    color: $secondary_color;
    background: $primary_color;
    font-family: $primary_font;
    font-size: $font_size;
    overflow-x: hidden;
    background: url(/images/background.jpg) $primary_color no-repeat;
    background-size: cover;
    background-blend-mode: multiply;
}

.max-100vh {
    max-height: 100vh;
    overflow-y: hidden;
}

header {
    $padding-sides: 5%;
    $padding-block: 3%;
    width: calc(100% - ($padding-sides * 2));
    display: flex;
    justify-content: space-between;
    position: fixed;
    left: $padding-sides;
    padding: $padding-block $padding-sides;

    nav {
        ul {
            display: flex;
            gap: 32px;

            a {
                text-decoration: none;
                padding: 16px;
                transition: $transition;

                &:hover {
                    color: $accent_color;
                }
            }
        }
    }
}


h1 {
    font-family: $secondary_font;
    font-weight: 200;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
        "wdth" 75;
}

p {
    line-height: 2;
}

a {
    text-underline-position: under;
    text-decoration-thickness: 8;
    color: $secondary_color;
}

.container {
    width: calc(100% - (5% * 2));
    min-height: calc(100vh - (5vh * 2));
    border: solid 2px hsla(198, 100%, 97%, 0.5);
    margin: 5vh auto;
}

.primary-btn,
button.primary-btn {
    font-size: $font-size;
    font-family: $primary_font;
    background: transparent;
    color: $secondary_color;
    text-decoration: none;
    position: relative;
    padding: 16px 32px;
    transition: $transition;
    cursor: pointer;

    &::after {
        content: '';
        width: 12px;
        height: 12px;
        background-color: $secondary_color;
        -webkit-mask-image: url(icon.svg);
        mask-image: url(/images/star.svg);
        mask-size: contain;
        display: inline-block;
        margin-inline: 12px;
        position: absolute;
        left: 50%;
        bottom: 0;
        transform: translateX(-100%);
        transition: $transition;
    }

    &:hover {
        color: $accent_color;

        &::after {
            color: $accent_color;
            background-color: $accent_color;
        }
    }
}

.spotlights {
    width: 100vh;
    height: 100vh;
    background-blend-mode: multiply;
    background: radial-gradient(circle, rgba(138, 41, 0, 0.5) 0%, rgba(138, 41, 0, 0) 70%) transparent;
    position: absolute;
    z-index: -1;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    // transition: all 0.2s ease-in-out;
    pointer-events: none;
    position: fixed;
}

.star {
    width: 12px;
    height: 12px;
    background: url('/images/star.svg');
    background-position: center center;
    background-size: contain;
    display: inline-block;
    margin-inline: 12px;
    transform: translateY(-50%);
}

.row {
    display: flex;
}

input,
input[type=date],
textarea {
    padding: 16px;
    border-bottom: solid 2px $secondary_color;
    background-color: transparent;
    color: $secondary_color;
    font-size: $font-size;
    font-family: $primary_font;
}

textarea {
    resize: none;
}