header{
    width: 100%;
    height: $header-height;
    padding-inline: $default-padding-inline;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}

nav{
    display: flex;
    align-items: flex-start;
    gap: 3em;
    padding-bottom: 1em;
}