// Import base stylesheet
@import './base/base';
@import './layout/layout';
@import './components/components';
@import './pages/pages';
@import './utilities/utilities';

.frame{
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: -1;
    width: 88.54%;
    height: 88.54%;
    border: solid 1px white;
    transform: translate(-50%, -50%);
}